:root {
  --weather-card-color: #e9ecef;
  --header-height: 60px;
}

body {
  font-family: "Outfit", sans-serif;
  color: #212529;
  margin: 0;
  background-image: radial-gradient(180% 50% at 50% 20%, #fff 20%, transparent),
    radial-gradient(100% 30% at -5% -5%, #c989e8, transparent),
    radial-gradient(100% 30% at 105% -5%, #c989e8, transparent),
    radial-gradient(121.64% 136.61% at 0 61.78%, #eacdff, #aae0ff);
}

.nav-title {
  margin: 0;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #e9ecef;
}

a:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input {
  font-size: 16px;
  margin: 10px 0;
  border: 2px solid #f0f0f0;
  padding: 10px;
  filter: drop-shadow(1px 1px 3px #6c757d);
  border-radius: 4px;
}

.input:focus {
  outline: 0;
  border-color: #777;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  filter: drop-shadow(1px 1px 3px #6c757d);
  border: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #212529;
  color: #e9ecef;
}

.card-header-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.weather-icon {
  max-height: 30px;
  margin: 0px 10px;
}

.timestamp {
  font-size: 12px;
  font-weight: 300;
  color: #eb6e4b;
}

.bold {
  font-size: 14px;
  font-weight: 600;
}

.error-message {
  text-align: center;
  font-size: 25px;
  color: #d30202;
}

.header {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: #212529;
  height: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 900px;
  height: calc(100vh - var(--header-height));
  background-color: #f8f9fa;
  margin: 0 auto;
  filter: drop-shadow(0px 0px 20px #6c757d);
}

.weather-card {
  min-width: 400px;
  min-height: 150px;
  background-color: var(--weather-card-color);
  margin-top: 50px;
  padding: 15px;
  border-radius: 10px;
  filter: drop-shadow(3px 3px 5px #6c757d);
}

.card-header {
  text-align: center;
}

.card-data {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 20px;
}
